# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

#### Objectives:

- List popular languages for Data Science.
- Highlight commonly used libraries in Data Scien
- Identify tools 
- Examples of arithmetic expressions in Pythonnce.

##### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

##### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. numpy
3. ggplot
4. matplotlib


| Data Science Tools |
| ------------------ |
| Jupyter Notebook   |
| RStudio       |
  Apache Sparke       
     |

### Below are a few examples of evaluating arithmetic expressions in Python

In [17]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [18]:
#This will convert 200 minutes to hours by diving by 60
min = 200
hours = min/60
print(hours)

3.3333333333333335